.results {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    font-size: .8em;
    margin-right: 20px;
    padding:5px;
    border-radius: 5px;    
}

.results a:hover {
    opacity: .5;
}

.search-button {
    &:hover {
        opacity: .5;
    }
}