<mat-form-field class="search-bar">
    <input matInput placeholder="Search Games" #searchInput autocomplete="off" [value]="searchTerm">
</mat-form-field>
<button mat-icon-button class="search-button" color="primary" (click)="goToSearchResults();"
    [disabled]="searchInput.value === ''">
    <mat-icon>search</mat-icon>
</button>
<div *ngIf="(searchResults$ | async) as results;" [ngClass]="results.length > 0 ? 'results mat-elevation-z6' : ''">
    <div *ngFor="let result of results;">
        <div>
            <a (click)="searchInput.value = '';resetResults();goToGameDetails(result.gameId);">{{ result.title }} </a> -
            {{ result.platform}}
        </div>
        <mat-divider></mat-divider>
    </div>
</div>

